<section class="filters">
    <div class="filters__left">
        <select>
            <option>Категория</option>
            <option>Одежда</option>
            <option>Техника</option>
        </select>

        <select>
            <option>Цена</option>
            <option>До 50€</option>
            <option>50–100€</option>
        </select>
    </div>

    <div class="filters__right">
        <select>
            <option>По популярности</option>
            <option>По цене</option>
            <option>По новизне</option>
        </select>
    </div>
</section>