<footer class="footer">
    <div class="container footer__inner">

        <div>
            <h4>Контакты</h4>
            <p>Email: info@shop.com</p>
            <p>Тел: +49 123 456 789</p>
        </div>

        <div>
            <h4>Информация</h4>
            <a href="#">Доставка</a><br>
            <a href="#">Оплата</a><br>
            <a href="#">Возврат</a>
        </div>

        <div>
            <h4>Мы в соцсетях</h4>
            <a href="#">Instagram</a><br>
            <a href="#">Facebook</a>
        </div>

    </div>
</footer>